<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITS245_FinalProject.Properties.Settings.ITS245FinalConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ITS245Final.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>